body {
    header {
        z-index: 1;
        position: fixed;
        width: 100%;
        height: 88px;
        display: flex;
        background-color: $primeira;
        .container {
            display: flex;
            align-items: center;
            nav {
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                ul {
                    display: flex;
                    gap: 40px;
                    align-items: center;
                    img {
                        display: none;
                    }
                    li {
                    color:#F5F6FA;
                    text-align: center;
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -0.48px;
                    a {
                        color: white;
                        transition: all .3s ease;
                    }
                    a:hover {
                        opacity: 70%;
                    }
                    }
                    button {
                        width: 177px;
                        height: 48px;
                        padding: 16px 24px;
                        justify-content: center;
                        align-items: center;
                        color: black;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 100%;
                        letter-spacing: -0.48px;
                        transition: all .2s ease-in;
                    }
                    button:hover {
                        background-color: #24DE97;
                    }
                }
            }
        }
        &.fixed-menu {
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.239);
            transition: box-shadow .5s ease;
        }
    }
    main {
        padding-top: 88px;
        .section-hero {
            width: 100%;
            height: 552px;
            background: linear-gradient(263deg, $terceira, $primeira);
            position: relative;
            .container {
                display: flex;
                position: relative;
                height: 552px;
                .esquerda {
                    width: 100%;
                    max-width: 632px;
                    height: 345px;
                    p {
                    color: white;
                    line-height: 150%;
                    letter-spacing: -0.54px;  
                    margin-top: 24px;
                    }
                    button {
                    height: 48px;
                    padding: 16px 24px;
                    justify-content: center;
                    align-items: center; 
                    color: black;
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 100%;
                    letter-spacing: -0.48px;
                    margin-top: 45px;
                    transition: all .2s ease-in;
                    }
                    }
                    button:hover {
                        background-color: #24DE97;  
                    }
                .foto {
                    .foto-desktop {
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                }
                .foto-mobile {
                    display: none;
                }
                }

            }
        }
        .section-somos {
            .container {
                .textos-mobile {
                    display: none;
                    margin-top: 103px;
                    h3 {
                        color: #2C624E;
                    }
                    p {
                        color: black;
                    }
                }
                .video {
                    margin-top: 103px;
                    position: relative;
                    .textos {
                        position: absolute;
                        bottom: 77px;
                        left: 77px;
                        padding-right: 77px;
                        h3 {
                            margin-bottom:16px;
                        }
                        p {
                            width: 100%;
                            max-width: 1072px;
                            
                        }
                    }
                }
                .produtos {
                    margin-bottom: 170px;
                    h3 {
                        color: #2C624E;
                        line-height: 120%; 
                        letter-spacing: -1.2px;
                        margin-top: 100px;
                        margin-bottom: 50px;
                    }
                    .box {
                        display: flex;
                        gap: 34px;
                        .card {
                            .descricao {
                                color:black;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; 
                                letter-spacing: -0.442px;
                                width: 100%;
                                max-width: 366px;
                            }
                            h4 {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
        .section-beneficios {
            width: 100%;
            height: 1068px;
            background-color: #E5E5E5;
            .container {
                h3 {
                    color: $primeira;
                    padding-top: 129px;
                    margin-bottom: 50px;
                }
                .box {
                    display: flex;
                    gap: 32px;
                    .card {
                        width: 100%;
                        max-width: 592px;
                        height: 705px;
                        background-color: white;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        padding: 40px;
                        .conteudo {  
                             h4 {
                                margin-top: 38px;
                                margin-bottom: 22px;
                             }
                             p {
                                text-align: justify;
                                line-height: 150%; 
                                letter-spacing: -0.54px;
                                width: 100%;
                                max-width: 510px;
                                color: black;
                             }
                        }
                    }
                }
            }
        }
        .section-procurando {
            display: flex;
            width: 100%;
            height: 464px;
            background-color: $primeira;
            align-items: center;
            .container {
                .itens {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h2 {
                        width: 100%;
                        max-width: 646px;
                        text-align: center;
                        margin-bottom: 16px;
                    }
                    p {
                        width: 545px;
                        color: white;
                        text-align: center;
                        line-height: 150%; 
                        letter-spacing: -0.66px;
                        font-size: 2.2rem;
                        margin-bottom: 24px;
                        
                    }
                    button {
                    height: 64px;
                    padding: 16px 24px;
                    width: 100%;
                    max-width: 279px;
                    color: black;
                    font-family: 'Sora', sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 100%; 
                    letter-spacing: -0.54px;
                    transition: all .2s ease-in;
                    }
                button:hover {
                    background-color: #24DE97;  
                }
                    
                    
                }
            }
        }
    }
    footer {
        display: flex;
        width: 100%;
        height: 450px;
        background-color: white;
        .container {
            .superior {
                padding-top: 58px;
                padding-bottom: 30px;
                display: flex;
                border-bottom: solid 1px rgba(0, 0, 0, 0.24);
                .esquerda {
                    img {
                        margin-bottom: 24px;
                    }
                    p {
                        color: black;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 150%; /* 24px */
                        letter-spacing: -0.48px; 
                        width: 279px;
                    }
                    
                }
                .direita {
                    display: flex;
                    gap: 112px;
                    margin-left: 149px;
                    ul {
                        li {
                            color: black;
                            font-family: 'Inter', sans-serif;
                            font-size: 16px;
                            letter-spacing: -0.48px;
                            margin-bottom: 32px;
                            
                        }
                        .titulo-lista {
                            color: black;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 120%; /* 19.2px */
                            letter-spacing: -0.48px;  
                        }
                        .rede-social {
                            a {
                            display: flex;
                            gap: 16px;
                            }
                        }
                    }
                }
            }
            .direitos {
            color: #787C87;
            font-size: 16px;
            letter-spacing: -0.48px;   
            margin-top: 24px;
            a {
            color: #787C87;
            }
            }
        }
    }
}


@media(max-width: 1180px) {
    body {
        footer {
            .container {
                .superior {
                    justify-content: space-between;
                  .esquerda {
                    p {
                        font-size: 1.5rem;
                        width: 190px;
                    }
                  }  
                 .direita {
                    margin-left: 0px;
                    ul {
                        .titulo-lista {
                            font-size: 1.5rem;

                        }
                        li {
                            font-size: 1.5rem;
                        }
                    }
                 }
                }
            }
        }
    }

}
@media(max-width: 1080px) {

    body {
        
        header {
            .container {
                nav {
                    ul {
                        img {
                            display: block;
                        }
                        button {
                            display: none;
                        }
                        li {
                            display: none;
                        }
                    }
                }
            }
        }
        main {
            .section-hero {
                height: 100%;
                .container {
                    display: flex;
                    flex-direction: column;
                    height: 100%; 
                    .esquerda {
                        margin-top: 96px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        
                    }
                   .foto {
                    width: 100%;
                    height: 100%;
                    margin-top: 46px;
                    .foto-desktop {
                        display: none;
                    }
                    .foto-mobile {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                        
                    }
                   }
                }
                
            }
        }
    }

}
@media(max-width: 980px) {
    body {
        footer {
            .container {
                .superior {
                    flex-direction: column;
                    gap: 70px;
                    justify-content: center;
                    align-items: center;
                    .esquerda {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        p {
                            width: 370px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
@media(max-width: 700px) {
    body {
        footer {
            .container {
                .superior {
                    .direita {
                        flex-direction: column;
                        gap: 30px;
                        ul {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            li {
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
                .direitos {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 29px;
                }
            }
        }
    }
}
@media(max-width: 667px) {
    body {
        main {
            .section-hero {
                .container {
                    .esquerda {
                        height: 100%;
                        margin-top: 51px;
                        h1 {
                            width: 100%;
                            max-width: 480px;
                            font-size: 40px;
                            font-weight: 600;
                            line-height: 120%; 
                            letter-spacing: -0.84px;
                            
                        }
                        p {
                            width: 500px;
                            margin-top: 12px;
                        }
                        button {
                            margin-top: 24px;
                        }
                    }
                }
            }
            .section-somos {
                .container {
                    .textos-mobile {
                        display: inline;
                        h3 {
                            margin-top: 40px;
                        }
                    }
                    .video {
                        display: none;
                    }
                    .produtos {
                        margin-bottom: 90px;
                        h3 {
                            margin-top: 50px;
                        }
                        .box {
                            display: flex;
                            flex-direction: column;
                            img {
                                width: 100%;
                            }
                            .consorcio {
                                .descricao {
                                    width: 100%;
                                    max-width: 100%;
                                }
                            }
                            .financiamento {
                                .descricao {
                                    width: 100%;
                                    max-width: 100%;
                                }
                            }
                            .alavancagem {
                                .descricao {
                                    width: 100%;
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .section-beneficios {
                height: 100%;
                padding-bottom: 70px;
                .container {
                    h3 {
                        padding-top: 80px;
                    }
                    .box {
                        display: flex;
                        flex-direction: column;
                        .card {
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                    
                }
            }
            .section-procurando {
                .container {
                    .itens {
                        h2 {
                            font-size: 4rem;
                        }
                        p {
                            font-size: 1.8rem;
                            width: 100%;
                            max-width: 321px;
                        }
                    }
                }
            }
        }
        
    }
}
@media(max-width: 500px) {
    body {
        main {
            .section-hero {
                .container {
                    .esquerda {
                        height: 100%;
                        margin-top: 51px;
                        h1 {
                            width: 100%;
                            max-width: 400px;
                            font-size: 3.5rem;
                            font-weight: 600;
                            line-height: 120%; 
                            letter-spacing: -0.84px;
                            
                        }
                        p {
                            width: 336px;
                            margin-top: 12px;
                        }
                        button {
                            margin-top: 24px;
                        }
                    }
                }
            }
        }  
    }
}
@media(max-width: 427px) {
    body {
        main {
            .section-hero {
                .container {
                    .esquerda {
                        height: 100%;
                        margin-top: 51px;
                        h1 {
                            width: 100%;
                            width: 315px;
                            font-size: 2.8rem;
                            font-weight: 600;
                            line-height: 120%; 
                            letter-spacing: -0.84px;
                        }
                        p {
                            width: 336px;
                            margin-top: 12px;
                        }
                        button {
                            margin-top: 24px;
                        }
                    }
                }
            }
            .section-beneficios {
                .container {
                    .box {
                        .card {
                            height: 100%;
                            .conteudo {
                                
                                p {
                                    font-size: 1.5rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}