body {
    background-color: rgb(156, 156, 156);
    .section-hero {
        height: 1715px;
        background:linear-gradient(180deg, #122920, $primeira);
        .container {
            padding-top: 144px;
            .top {
                img {
                    margin-bottom: 78px;
                }
                h1 {
                    width: 100%;  
                    max-width: 900px;  
                    font-size: 60px;
                    font-weight: 600;
                    line-height: 138%;
                    letter-spacing: -1.8px;
                    text-transform: uppercase;
                }
                p {
                    color: white;
                    font-size: 28px;
                    line-height: 150%; /* 42px */
                    letter-spacing: -0.84px;
                    margin-bottom: 78px;
                    margin-top: 32px;
                }
            }
            .bot {
                display: flex;
                justify-content: space-between;
                align-items: end;
                margin-top: 64px;


                .esquerda {
                    .seta-grande {
                        margin-bottom: 78px;
                    }
                    .botao {
                    background-color: white;
                    width: 100%;
                    max-width: 600px;
                    transition: all .3s ease;
                    .texto {
                        color: black;
                        font-size: 28px;
                        font-weight: 600;
                        line-height: 100%;
                        letter-spacing: -0.84px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 26px 40px;
                        img {
                            margin-left: 24px;
                        }
                    }
                    }
                    .botao:hover {
                        background-color: #3bfab1;
                    }
                }
                .direita {
                    display: flex;
                    align-items: end;
                    p {
                        width: 100%;
                        max-width: 400px;
                        height: 100%;
                        color: #F5F5F5;
                        font-size: 1.8rem;
                        line-height: 170%; 
                        img {
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    .section-ganha {
        height: 100%;
        background-color: #191919;
        padding-top: 147px;
        .container {
            .top {
                margin-bottom: 97px;
                h2 {
                    width: 100%;
                    font-size: 52px;
                    font-weight: 600;
                    line-height: 162%;
                    letter-spacing: -1.56px;
                    text-transform: uppercase;
                    span {
                    font-weight: 200;
                    }
                }
                .aqui {
                    color: white;
                    font-weight: 300;
                    font-size: 28px;
                    line-height: 150%; /* 42px */
                    letter-spacing: -0.84px;
                }
            }
            .mid {
                .boxs {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 20px;
                    row-gap: 25px;
                    .card {
                        border-radius: 8px;
                        border: 2px solid rgba(255, 255, 255, 0.08);
                        background: rgba(255, 255, 255, 0.02); 
                        padding: 24px;
                        .img {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 20px;
                        }
                        .text {
                            p {
                                width: 100%;
                                max-width: 320px;
                                font-size: 1.5rem;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
            .bot {
                position: relative;
                img {
                    margin-top: 90px;
                    padding-bottom: 88px;
                    border-bottom: solid #393B42 1px;
                }
                .comissao {
                    position: absolute;
                    top: 45%;
                    left: 21%;
                    color: #FFF;
                    font-family: 'Inter', sans-serif;
                    font-size: 2rem;
                    font-weight: 700;
                    line-height: 120%;
                    letter-spacing: 1.6px;
                    text-transform: uppercase;
                    span {
                    font-weight: 300;
                    }
                }
            }
        }
    }
    .section-pessoas {
        background: linear-gradient(180deg, #191919 0%, #214B3B 100%);
        height: 100%;
        padding-bottom: 95px;
        
        h2 {
            padding-top: 126px;
            width: 100%;
            max-width: 687px;
            color: #FFF;
        }
        .container {
            .boxs {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 22px;
                row-gap: 30px;
                margin-top: 110px;
                
                .card {
                    background-color: white;
                    padding: 24px;
                    border-radius: 8px;
                    h4 {
                        color: #191919;              
                        font-size: 22px;
                        font-weight: 600;
                        line-height: 120%; 
                        letter-spacing: -0.66px; 
                        margin-top: 19px;
                    }
                    p {
                        width: 100%;
                        max-width: 333px;
                        color: #787C87;
                        line-height: 150%; 
                        letter-spacing: -0.48px;
                        margin-top: 8px;
                        
                    }
                }
            }
        }
    }
    .section-licenciado {
        width: 100%;
        height: 100%;
        background-color: #214B3B;
        padding-top: 88px;
        .container {
            .top {
                background-color:black;
                border-radius: 16px;
                padding: 80px;
                .tag {
                    span {
                    color: white;
                    font-family: Inter;
                    font-size: 18px;
                    text-transform: uppercase;
                    }
                    img {
                        margin-top: 25px;
                    }
                }
                h3 {
                 margin-top: 23px; 
                 margin-bottom: 40px; 
                 width: 100%;
                 max-width: 973px;
                }
                .voce-pode {
                    width: 100%;
                    max-width: 578px;color: white;
                    font-size: 20px;
                    line-height: 150%;
                    letter-spacing: -0.6px;
                    margin-bottom: 48px;
                }
                a {
                    width: 100%;
                    max-width: 335px;
                }
                .botao {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    max-width: 335px;
                    height: 54px;
                    background-color: #F5F5F5;
                    border-radius: 3px;
                    gap: 15px;
                    transition: all .3s ease;
                    
                    p {
                        color: black;
                        font-family: Inter;
                        font-size: 19.32px;
                        font-weight: 600;
                        line-height: 100%;
                        letter-spacing: -0.58px;
                        text-transform: uppercase;
                    }
                }
                .botao:hover {
                    background-color: #3bfab1;
                }
            }
            footer {
                display: flex;
                justify-content: space-between;
                align-items: end;
                border-top: solid 1px white;
                height: 98px;
                margin-top: 153px;
                padding-top: 100px;
                padding-bottom: 50px;
                p {
                    color: white;
                    font-size: 15px;
                    font-weight: 400;  
                    strong a {
                        color: white;
                    }
                }

            }
        }
    }
}


@media(max-width: 890px) {
   body {
    .section-hero {
        height: 100%;
        padding-bottom: 100px;
        .container {
            padding-top: 100px;
            .top {
                img {
                    width: 30%;
                    margin-bottom: 50px;
                }
                h1 {
                    font-size: 4rem;
                    
                }
            }
            .bot {
                display: flex;
                flex-direction: column;
                align-items: center;
                .esquerda {
                    img {
                        display: flex;
                        margin: 0 auto;
                    }
                }
                .direita {
                    p {
                        width: 100%;
                        max-width: 100%;
                        margin-top: 40px;
                        text-align: center;
                    }
                }
                
                
            }
        }
    }
    .section-ganha {
        .container {
            .bot {
             .comissao {
                position: absolute;
                top: 38%;
                left: 18%;
                font-size: 1.5rem;
                
             }
            }
        }
    }
   }

}

@media(max-width: 667px) {
    body {
        .section-hero {
            height: 100%;
            padding-bottom: 100px;
            .container {
                padding-top: 100px;
                .top {
                    img {
                        width: 30%;
                        margin-bottom: 50px;
                    }
                    h1 {
                        font-size: 4rem;
                        
                    }
                }
                .bot {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .esquerda {
                        img {
                            display: flex;
                            margin: 0 auto;
                        }
                    }
                    .direita {
                        p {
                            width: 100%;
                            max-width: 100%;
                            margin-top: 40px;
                            text-align: center;
                        }
                    }
                    
                    
                }
            }
        }
        .section-ganha {
            padding-top: 100px;
            .container {
                .top {
                    margin-bottom: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h2 {
                        font-size: 3.5rem;
                        max-width: 600px;
                        text-align: center;
                    }
                    .aqui {
                        font-size: 2.2rem;
                        margin-top: 30px;
                        max-width: 500px;
                        text-align: center;
                    }
                }
                .mid {
                    .boxs {
                        display: grid;
                        grid-template-columns: 1fr;
                        .card {
                            .text {
                                
                                p {
                                    width: 100%;
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
                .bot {
                    .comissao {
                        font-size: 1.3rem;
                        top: 30%;
                        left: 10%;
                        
                    }
                }
            }
        }
        .section-pessoas {
            .container {
                h2 {
                    font-size: 3.6rem;
                    width: 500px;
                    text-align: center;
                    display: flex;
                    margin: 0 auto;
                }
                .boxs {
                    grid-template-columns: 1fr;
                    .card {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        .nome {
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
        .section-licenciado {
            padding-top: 0px;
            padding-bottom: 50px;
            .container {
                footer {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    margin-top: 80px;
                    .mobile {
                        padding-top: 50px;
                    }
                }
            }

        }
    }
}

@media(max-width: 500px) {
    body {
        .section-pessoas {
            .container {
                h2 {
                    width: 100%;
                    font-size: 3.4rem;
                }
            }
        }
        .section-licenciado {
            .container {
                .top {
                    .tag {
                        span {
                            font-size: 1.4rem;
                        }
                    }
                    h3 {
                        width: 100%;
                        font-size: 3.5rem;
                    }
                    .voce-pode {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }
}

@media(max-width:477px) {
    body {
        .section-hero {
            .container {
                padding-top: 80px;
                .top  {
                    h1 {
                        font-size: 2.9rem;
                        
                    }
                    .assista {
                        font-size: 2rem;
                    }
                }
                .bot {
                    .esquerda {
                        .seta-grande {
                            margin-bottom: 50px;
                        }
                        .botao {
                            .texto {
                                font-size: 2rem;
                        }
                    }
                }
            }
        }
        }
        .section-ganha {
            .container {
                .top {
                    h2 {
                        font-size: 2.5rem;
                        text-align: center;
                    }
                    .aqui {
                        font-size: 1.8rem;
                    }
                }
                .bot {
                    .comissao {
                        width: 200px;
                        text-align: center;
                        top: 10%;
                        left: 25%;
                    }
                }
            }
        }
        .section-pessoas {
            .container {
                h2 {
                    padding-top: 100px;
                }
                .boxs {
                    margin-top: 70px;
                    .card {
                        flex-direction: column;
                    }
                }
            }
        }
        .section-licenciado {
            .container {
                .top {
                    padding: 60px;
                    h3 {
                        font-size: 2.3rem;
                        width: 100%;
                    }
                    .voce-pode {
                        font-size: 1.5rem;
                    }
                    .botao {
                        p {
                            font-size: 1.5rem;
                        }
                    }
                }
                footer {
                    .mobile {
                        padding: 0px;
                    }
                }
            }
        }
}
}
