h1, h2, h3 , h4, h5, h6 {
    color: #ffffff;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -1.68px;
}

h1 {
    font-size: 5.6rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 2.2rem;
    color: #2C624E;
}

p {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.54px;
}